---
import { MAX_CONTENT_WIDTH_CLASS } from "../consts/sizes";
---

<footer class=`p-8 border-border flex justify-center`>
  <div class=`flex items-center justify-between ${MAX_CONTENT_WIDTH_CLASS} w-full`}>
    <p class="text-sm text-muted">© 2024 Lucas Melo</p>
    <div class="flex gap-4">
      <a href="https://github.com/lucasmelodev1" target="_blank">
        <img class="w-6 h-6" src="github.svg"/>
      </a>
      <a href="https://www.linkedin.com/in/lucasmelodev/" target="_blank">
        <img class="w-6 h-6" src="linkedin.svg"/>
      </a>
    </div>
  </div>
</footer>
